
<%-include('partials/header.ejs');%>
<body>
    
    <%-include('partials/navbar.ejs');%>
<br>
    <div class="container">
 
        <div class="card" id="formulario-pergunta">
            <div class="card-header bg-info ">
                <h3 class="text-dark">Realizar pergunta</h3>
            </div>


            <div class="card-body">
                <% if(atualizar==0) {%>
                <form method="POST" action="/salvarpergunta">
                    <label>Título</label>
                    <input type="text" placeholder="Titulo" class="form-control" name="titulo">
                    <br>
                    <label>Descrição</label>
                    <textarea placeholder="Descreva sua pergunta aqui" class="form-control" name="descricao"></textarea>
                    <br>
                    <button class="btn btn-info ">Perguntar</button>
                </form>
                <% } %>

                <% if(atualizar==1) {%>
                    <form method="POST" action="/atualizarpergunta/<%id%>">
                        <label>Título</label>
                        <input type="text" placeholder="Titulo" class="form-control" name="titulo">
                        <br>
                        <label>Descrição</label>
                        <textarea placeholder="Descreva sua pergunta aqui" class="form-control" name="descricao"></textarea>
                        <br>
                        <button class="btn btn-info ">Atualizar</button>
                    
                    <% } %>

               
                    <a href="/index" class="btn btn-primary-dark">Voltar</a>
                </form>
            </div>

        </div>
         
    </div>



</body>

<%-include('partials/footer.ejs');%>

